.videorow {
  display: flex;
  margin-bottom: 30px;
  max-width: 700px;
}
.videorow > img {
  object-fit: contain;
  width: 246px;
  height: 138px;
}
.videorow__title {
  margin-left: 15px;
}
.videorow__description {
  margin-top: 20px;
  font-size: 14px;
  color: #606060;
}
.videorow__head {
  font-size: 14px;
  color: #606060;
}
.videorow__sub {
  font-weight: bolder;
  color: rgb(85, 177, 207);
}
.videorow__all {
  background-color: lightgray;
  padding: 2px;
}
